/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Override with DeployMate brand color */
:root {
  --ifm-color-primary: #0077b6;
  --ifm-color-primary-dark: #006ba3;
  --ifm-color-primary-darker: #006599;
  --ifm-color-primary-darkest: #00527d;
  --ifm-color-primary-light: #0083c9;
  --ifm-color-primary-lighter: #0089d3;
  --ifm-color-primary-lightest: #009cef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #90e0ef;
  --ifm-color-primary-dark: #74d8eb;
  --ifm-color-primary-darker: #66d4e9;
  --ifm-color-primary-darkest: #3bc8e2;
  --ifm-color-primary-light: #ace8f3;
  --ifm-color-primary-lighter: #baebf5;
  --ifm-color-primary-lightest: #e4f7fb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
